h1 {
	margin-bottom: 40px;
}

body {
  background-size: cover;
}

.weatherBox {
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: 20px;
  text-align: center;
  padding: 30px;
  margin-top: 50px;
}

#fahren {
	font-weight: bold;
	font-size: 250%;
	margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 15px;
  background-color: rgba(245, 245, 245, 0.4);
}